body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.menu {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-items {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
  position: relative;
}

.menu-item:hover {
  color: yellow;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

/* Стили для кнопки */
#restartButton,
#menuButton,
#retingButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стили для кнопки при наведении */
#restartButton:hover {
  background-color: #45a049;
}

.logout {
  float: right;
}

.error {
  color: hsl(348, 100%, 61%);
  text-align: center;
  font-size: small;
}

.users-list a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
  overflow: hidden;
  vertical-align: middle;
}

.users-list a:hover {
  text-decoration: none;
  background-color: red;
}

.table thead th {
  background-color: gray;
  color: #fff;
}

.table td:last-child {
  text-align: center;
}

#login,
#userForm,
#register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Устанавливаем z-index, чтобы форма логина отображалась поверх канваса */
  background-color: white;
}
