body {
  margin: 0;
  padding: 0;
  background-color: hwb(327deg 12.55% 79.61% / 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.menu {
  text-align: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .menu-items {
  list-style-type: none;
  padding: 0;
} */

.menu-item {
  cursor: pointer;
  margin-bottom: 15px;
  color: #a521ff;
  font-size: 26px;
  transition: color 0.3s;
  position: relative;
  font-family: 'Press Start 2P';
}

.menu-item:hover {
  color: yellow;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999; /* Устанавливаем z-index, чтобы меню отображалось поверх других элементов */
}

#gameMenuPlayer {
  font-family: 'Press Start 2P';
  font-size: 16px;
  color: #a521ff;
}

#gameMenuPlayer a {
  padding: 5px;
  font-size: 16px;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hwb(327deg 12.55% 79.61% / 100%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'EB Garamond';
  font-size: 24px; /* Задаем размер шрифта */
  color: #fffb09;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

/* .modal-content .settings-menu {
  margin-bottom: 20px;
} */

.volume-slider {
  margin-left: 25px;
  width: 45%; /* Устанавливаем ширину регуляторов громкости на 100% */
}

.modal-content button,
.modal-help button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-help {
  display: none; /* Изначально скрываем модальное окно */
  position: fixed; /* Позиционируем фиксированно относительно видимой области экрана */
  z-index: 1000; /* Устанавливаем высокий уровень z-index, чтобы окно отображалось поверх других элементов */
  left: 50%; /* Располагаем по горизонтали в середине экрана */
  top: 50%; /* Располагаем по вертикали в середине экрана */
  transform: translate(-50%, -50%); /* Центрируем по горизонтали и вертикали */
  width: 90%; /* Задаем ширину окна (можно изменить по вашему усмотрению) */
  max-width: auto; /* Максимальная ширина окна */
  background-color: hwb(327deg 12.55% 79.61% / 100%);
  /* background-color: white; */
  padding: 20px; /* Внутренний отступ */
  border-radius: 10px; /* Скругление углов */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень */
  font-family: 'EB Garamond';
  font-size: 20px; /* Задаем размер шрифта */
  color: #fffb09;
}

.modal-help .help-section h2 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

.modal-help .help-content {
  height: 70vh; /* Высота окна помощи (70% высоты экрана) */
  overflow-y: auto; /* Включаем вертикальный скролл при необходимости */
}

.help-section.control {
  display: flex;
  align-items: center;
}

.help-section.control .infoSlide img {
  max-width: 600px; /* Увеличиваем максимальную ширину изображения */
  margin-right: 20px;
}

.mechanics-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide h3 {
  margin-top: 0;
  font-size: 24px; /* Задаем размер шрифта */
}

.infoSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Отступы справа и слева по 20px */
}

.infoSlide p {
  font-size: 20px; /* Задаем размер шрифта */
}

.infoSlide img {
  max-width: 300px;
  margin-right: 20px;
}

.modal-help button,
.close-button,
#closeButton {
  background-color: #9d2525;
  color: #fffb09;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 30px 0 0;
  float: right; /* Расположение кнопки справа */
}
.modal-help button:hover,
.close-button:hover,
#closeButton:hover {
  background-color: #d80606;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  font-family: 'Russo One';
}

.modal-content th,
.modal-content td {
  padding: 10px;
  border: 1px solid #000;
}

.modal-content th {
  background-color: #ffcd00e6;
  color: rgb(52 32 43);
}

/* Стили для кнопки */
#restartButton,
#menuButton,
#retingButton {
  background-color: #9d2525;
  color: #fffb09;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стили для кнопки при наведении */
#restartButton:hover,
#menuButton:hover,
#retingButton:hover {
  background-color: #d80606;
}

.logout {
  float: right;
}

.error {
  color: hsl(348, 100%, 61%);
  text-align: center;
  font-size: small;
}

#menuContainer2 {
  position: absolute;
  top: 20px; /* Расположение кнопки от верхнего края страницы */
  right: 20px; /* Расположение кнопки от правого края страницы */
}

#menuButtonDisplay {
  background-color: #483640;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 8px;
}

#menuButtonDisplay:hover {
  background-color: #45a049; /* Темно-зеленый при наведении */
}

#login,
#userForm,
#register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Устанавливаем z-index, чтобы форма логина отображалась поверх канваса */
  background-color: white;
}
