body {
  font-family: 'Open Sans', sans-serif;
}

.logout {
  float: right;
}

.error {
  color: hsl(348, 100%, 61%);
  text-align: center;
  font-size: small;
}

.users-list a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
  overflow: hidden;
  vertical-align: middle;
}

.users-list a:hover {
  text-decoration: none;
  background-color: red;
}

.table thead th {
  background-color: gray;
  color: #fff;
}

.table td:last-child {
  text-align: center;
}
